.header-section {
  width: 100%;
  font-size: 18px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(0, 11, 73);
  position: fixed;
  z-index: 2;
}
ul {
  display: flex;
  justify-content: space-between;
}
.logo {
  margin-left: 15px;
  cursor: default;
}
ul a {
  text-decoration-line: none;
}
ul a h1 {
  margin: 15px;
  color: #fff;
}
ul a h1:hover {
  cursor: pointer;
  color: rgb(74, 102, 255);
}
