section {
    font-size: 18px;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(0, 11, 73);
}
ul {
    display: flex;
    justify-content: space-between;
}
ul h1:hover {
    cursor: pointer;
    color: rgb(74, 102, 255);
}
.logo {
    cursor: default;
}
h1 {
    margin: 15px;
}